:root {
  --glow-color: #3772FF;
  --glow-spread-color: rgba(55, 114, 255, 1);
  --glow-spread-color-light: rgba(199, 239, 0, 0.3);
  --btn-color: #C7EF00;
  color: #3772FF;
  --dark: #333333;
  --distance-side: 25px;
  --distance-side-content: 75px;
}

.description {
  margin: 120px var(--distance-side-content);
  max-width: 350px;
  ;
}

.credits {
  position: fixed;
  bottom: 0px;
  right: 20px
}

.headersection {
  margin: 0px var(--distance-side-content);
}


.navbar {
  color: var(--dark);
  margin: 0px var(--distance-side);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

a:link,
a:visited {
  color: var(--dark);
  text-decoration: none;
  font-weight: bold;
}

.App {
  height: 100%;
  width: 100%;
  font-family: 'Familjen Grotesk';
}

.center {
  text-align: center;
  max-width: 900px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.spacer {
  height: 50px;
}

hr.solid {
  border-top: 3px solid #bbb;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button,
input {
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 30px;
  outline: none;
  gap: 10px;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}


button:hover,
input:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

button:active,
input:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}

.glowtext {
  text-shadow: 0 0 .5em var(--glow-color);
}